* {
    margin: 0;
    padding: auto;
}

.first-section {
    position: absolute;
    width: 1350px;
    height: 837px;
    background: #FFF8F3;
    background-image: url(../images/hardy.png), url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, right, left;
    font-family: 'Open Sans';
    padding-top: 60px;

}

/* now design mary hardy */
.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: 200px;
    align-items: center;

}

.mary-hardy {
    font-weight: 800;
    font-size: 45px;
    color: #181818;
    margin-left: 150px;
}

.r-style {
    color: #FD6E0A;
}

/* here the btn-style */
.btn-style {
    background: #FD6E0A;
    border-radius: 5px;
    width: 150px;
    height: 64px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;

}

/* now hardy first section second div work, it is hardy description */
.hardy-first-description {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 150px;
    width: 500px;
    height: 350px;
}

.hardy-salam {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.hardy-introduce {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}

.hardy-paragraph {
    color: #757575;
    margin-bottom: 25px;
}

/* the download cv button some specific code */


.download-cv {}

.contact-button {
    color: #FD6E0A;
    background: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    width: 160px;
    height: 65px;
  

}
.button-container{
    display: flex;
    justify-content:flex-start;  
    align-items: center; 
    gap: 30px;
}